<!DOCTYPE html>
<html lang="en">
<head xmlns:th="http://www.thymeleaf.org">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Create Column</title>
    <link rel="stylesheet" th:href="@{/libs/bootstrap/bootstrap.min.css}">
</head>
<body>
<div class="container mt-4">
    <h3>Create New Column</h3>

    <form id="column_create_form" th:action="@{/columns/create}" method="post">

        <input type="hidden" name="projectId" th:value="${projectId}">

        <div class="mb-3">
            <label class="form-label">Column Name*</label>
            <input id="column_name" class="form-control" type="text" name="name" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Order*</label>
            <input id="column_order" class="form-control" type="number" name="order" value="1" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Limit*</label>
            <input id="column_limit" class="form-control" type="number" name="limit" value="5" min="1" required>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
        <a th:href="@{/columns}" class="btn btn-secondary">Cancel</a>

    </form>
</div>
<script th:src="@{/libs/bootstrap/bootstrap.bundle.min.js}"></script>
</body>
</html>
